
.border {
    border: solid grey;
    width: 500px;
    height: 480px;
    background-color: grey;
    text-align: center;
    margin-left: 450px;
    margin-top: 50px;
    padding: 50px 10px 0px 10px;
    color: white;   
}
.vnimanie {
    font-size: 40px ;
    font-family: Arial;
    color: white;

}
.subtitle {
    font-size: 14px ;
    font-family: Arial;
    color: white; 
    padding: 10px; 
}
input {
    color: white;
    
    border-radius: 50px;
    border: solid 1px;
    width: 400px;
    height: 60px;
    background-color: grey;
    font-size: 20px ;
    font-family: Arial;
    text-align: center;
    margin: 10px;
    
}
button {
    color: white;
    text-align: center;
    font-size: 20px ;
    width: 400px;
    height: 60px;
    border-radius: 50px;
    background-color: green;
    margin: 10px;
    border: none;
    font-family: Arial;
}
.color:hover {
    border-color: #74f442; 
    
     
}
 ::-webkit-input-placeholder {    /*изменила цвет текста в ячейках */
    color: white;
}



